<div class="container my-2">
  <a href="/dashboard/feeds/add" class="me-2"><button type="button" class="btn btn-info">+ Add a post</button></a>
  <div class="row user-post">
    <% post.forEach( (e) => { %>
    <div class="card my-3 mx-auto post-cards border-0 bg-transparent">
      <div class="row g-0 p-2 box-part">
        <div class="col-md-4 p-auto m-auto">
          <a href="/feeds/<%= e.slug %>"><img src="<%= e.imgPath[0] %>" class="img-fluid rounded-start" id="post-image" alt="..." /></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="/feeds/<%= e.slug %>"><h5 class="card-title"><%= e.title %></h5></a>
            <p class="card-text"><%= e.desc %></p>
            <p class="card-text"><small class="text-muted"><%= e.dateCreated.toLocaleDateString() %></small></p>
            <a href="/dashboard/feeds/<%= e.slug %>/edit"><button type="button" class="btn btn-warning">Edit</button></a>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>
