<div class="container my-5 py-5">
  <a href="/dashboard/feeds/add"><button type="button" class="btn btn-outline-dark">+ Add a post</button></a>
  <div class="row user-post">
    <% post.forEach( (e) => { %>
    <div class="card my-3 mx-auto post-cards">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/feeds/<%= e.slug %>"><img src="https://niel-personal-website.herokuapp.com/<%= e.img %>" class="img-fluid rounded-start" id="post-image" alt="..." /></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="/feeds/<%= e.slug %>"><h5 class="card-title"><%= e.title %></h5></a>
            <p class="card-text"><%= e.desc %></p>
            <p class="card-text"><small class="text-muted"><%= e.dateCreated.toLocaleDateString() %></small></p>
            <a href="/dashboard/feeds/<%= e.slug %>/edit"><button type="button" class="btn btn-warning">Edit</button></a>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../public/css/feeds_style.css');
  head.appendChild(link);
</script>
