<div class="container-md mt-2 px-4">
  <div class="col-md-8 mx-auto p-5 box-part post-block">
    <h1><%= post.title %></h1>
    <!-- <p class="text-muted date-here"></p> -->
    <p class="text-muted"><small> <%= post.desc %></small></p>
    <div class="mb-2">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-facebook mini-button mb-1" target="_blank"></a>
      <a href="https://twitter.com/share?url=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-twitter mini-button mb-1" target="_blank"></a>
      <a href="https://wa.me/?text=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-whatsapp mini-button mb-1" target="_blank"></a>
      <a href="https://t.me/share/url?url=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-telegram mini-button mb-1" target="_blank"></a>
    </div>
    <%- post.sanitizeHtml %>
    <h4 class="mt-5">Bagikan ke media sosial anda</h4>
    <div class="mt-1">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-facebook mini-button mb-1" target="_blank"></a>
      <a href="https://twitter.com/share?url=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-twitter mini-button mb-1" target="_blank"></a>
      <a href="https://wa.me/?text=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-whatsapp mini-button mb-1" target="_blank"></a>
      <a href="https://t.me/share/url?url=https://danieldwipaska.up.railway.app/feeds/<%= post.slug %>" class="fa fa-telegram mini-button mb-1" target="_blank"></a>
    </div>

  </div>
</div>
<div class="container-md my-2 px-4">
  <div class="row">
    <div class="col-md-8 mx-auto p-5 box-part">
      <h3 class="mb-3">Komentar:</h3>
      <% if(comments[0] === undefined) { %>
      <p class="text-muted">Belum ada komentar</p>
      <% } %> <% comments.forEach((e) => { %>
      <p class="mb-1"><strong><%= e.fullname %></strong></p>
      <p class="mb-2"><%= e.comment %></p>
      <% }); %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-8 mx-auto p-5 box-part">
      <h3 class="mb-3">Tinggalkan Komentar Anda</h3>
      <form id="form" action="/api/comments" method="post">
        <div class="mb-3" style="display: none">
          <label for="postId" class="form-label">Post ID</label>
          <input type="text" class="form-control" name="postId" id="postId" placeholder="only post ID" value="<%= post._id  %>" />
        </div>
        <div class="mb-3" style="display: none">
          <label for="postSlug" class="form-label">Post Slug</label>
          <input type="text" class="form-control" name="postSlug" id="postSlug" placeholder="Slug" value="<%= post.slug %>" />
        </div>
        <div class="mb-3">
          <label for="fullname" class="form-label">Nama</label>
          <input type="text" class="form-control" name="fullname" placeholder="Maksimal 50 karakter" id="fullname"></input>
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Komentar</label>
          <textarea class="form-control" name="comment" placeholder="Maksimal 500 karakter" id="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../public/css/feed_style.css');
  head.appendChild(link);
</script>
<script>
  // const date = new Date('post.createdAt');
  // const dateHere = document.querySelector('.date-here');
  // dateHere.innerHTML = date.toLocaleDateString();
  
  const postBlock = document.querySelector('.post-block');
  const img = postBlock.querySelectorAll('img');
  const imagePathString = '<%= post.imgPath %>';
  const imagePath = imagePathString.split(',');
  const newImgPath = [];
  for (let i = 0; i < imagePath.length; i++) {
    if (i % 2 === 0) {
      newImgPath.push(imagePath[i] + ',' + imagePath[i + 1]);
    }
  }

  let num = 0;
  img.forEach((e) => {
    e.setAttribute('src', newImgPath[num]);
    e.style.width = '100%';
    e.classList.add('centered-image');
    num++;
  });
</script>

