<div class="container-md my-5 py-5 px-4">
  <div class="col-md-8 mx-auto p-5 box-part">
    <h1><%= post.title %></h1>
    <p class="text-muted date-here"></p>
    <p class="text-muted"><small> <%= post.desc %></small></p>
    <%- post.sanitizeHtml %>
  </div>
</div>
<script>
  const img = document.querySelectorAll('img');
</script>
<script>
  for (let k = 0; k < img.length; k++) {
    img[k].setAttribute('src', '<%= post.imgPath[k] %>');
    img[k].style.width = '100%';
    img[k].classList.add('centered-image');
  }
</script>

<script>
  const date = new Date('<%= post.createdAt %>');
  const dateHere = document.querySelector('.date-here');
  dateHere.innerHTML = date.toLocaleDateString();

  console.log(img);

  // for (let k = 0; k < img.length; k++) {

  // img.forEach((e) => {
  // e.setAttribute('src', '');
  //   e.style.width = '100%';
  //   e.classList.add('centered-image');
  //   num++;
  // });
</script>
